.hero-background {
  background-image: url('../image/krists-luhaers-AtPWnYNDJnM-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  height: 550px;
}

.poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
}
